.page-header
  %h1
    Admin Dashboard
    %small
      fine grain control over forums

=link_to "Manage Categories", admin_categories_path, :class => "btn btn-primary"
%br
%br
=link_to "Manage Forums", admin_forums_path, :class => "btn btn-primary"
%br
%br
=link_to "Manage Groups", admin_groups_path, :class => "btn btn-primary"
%br
%br
=link_to "Manage Users", admin_users_path, :class => "btn btn-primary"
