- content_for :title, @forum.name

%section
  = link_to "Add a topic", forum_path(@forum) + '/new', :class => "btn btn-small btn-primary pull-right" if can? :create_topic, @forum
  %br
  %br
  %hr
  = paginate @topics , :theme => 'tb3'

= render partial: 'mongoid_forums/topics/table', :locals => {:topics => @topics}
