.col-lg-4
  %ul.nav.nav-pills.nav-stacked
    %li{:class => (current_page?(new_user_session_path) ? "active" : nil)}
      #{link_to "Sign in", new_user_session_path}
    %li{:class => (current_page?(new_user_registration_path) ? "active" : nil)}
      #{link_to "Sign up", new_user_registration_path}
