%section.page-header
  %h2
    = @user.forum_display_name
.well
  .row
    .col-lg-3
      = get_image(@user.uuid, 150, "border-radius: 3px;vertical-align: bottom;" )
    .col-lg-9
      %h3 Forum Stats
      %h2
        = @posts_count
        %small
          forum posts
      %h2
        = @topics_count
        %small
          topics started
