<h1>Keys#insertkey</h1>
<p>Find me in app/views/keys/insertkey.html.erb</p>
<%= @message %>

<!--#{str[0, str.length/2].reverse}#{str[str.length/2, str.length].reverse}".unpack("C*").map { |x| x.to_s(16) }.map! { |k| "#{k}" }.join("") -->
