- content_for :title, "HungerStruck"
.index-3__jumbotron
  .index-3-jumbotron__inner
    .container
      .row.row_v-centered
        .text-center
          %h1.index-3-jumbotron__heading.inverse.animated.fadeInDown
            HungerStruck
          .index-3-jumbotron__btn.animated.fadeInUp.delay-2
            %a.btn.btn-lg.btn-primary{:href => new_user_registration_path}
              Register
        / / .row
      / / .container
    / / .home-parallax__inner
  / / .home-parallax
%br
.container
  .row
    .col-sm-12
      .call-to-action
        .row
          .col-sm-12
            .call-to-action__content
              %h3.call-to-action__heading
                Heads Up!
              This site is under heavy development right now so it may go down occasionally. Please understand that this is just our beta! We hope you enjoy.
.home-features_2
  .container
    .row
      .col-sm-4
        .home-features_2__item
          .home-features_2__icon
            %i.fa.fa-refresh
          .home-features_2__body
            %h3.home-features_2__heading
              Renaissance
              %blockquote
                rebirth; revival;
            .home-features_2__content
              A rebirth of HungerGames in Minecraft done right.
      .col-sm-4
        .home-features_2__item
          .home-features_2__icon
            %i.fa.fa-comments
          .home-features_2__body
            %h3.home-features_2__heading Community
            .home-features_2__content
              HungerStruck has a very close knit community, coming from the original HungerCraft servers from over 3 years ago.
      .col-sm-4
        .home-features_2__item
          .home-features_2__icon
            %i.fa.fa-futbol-o
          .home-features_2__body
            %h3.home-features_2__heading Competitive Maps
            .home-features_2__content
              We have a very dedicated development team, and an impressive plugin to offer a unique experience in a variety of maps.
%br /
