.topic
  .container
    .row
      .col-sm-4
        %h3 Forbidden
      .col-sm-8
        %ol.breadcrumb.pull-right.hidden-xs
          %li
            %a{:href => "/"} Home
          %li.active Forbidden

.container
  .row
    .col-xs-12
      .error-page__container
        .error-page__404 403
        .error-page__heading
          Forbidden
        .error-page__desc
          Reload the page some time later or click the link below to go to the homepage.
        .error-page__leave
          %a.btn.btn-lg.btn-block.btn-secondary{:href => "/"}
            Go to the homepage
