.post-timestamp {
color: grey;
}

#forum-sidebar {
  padding-top: 55px;
}

#forum-sidebar ul > li.active > a {
 background-color: #ed3e49;
 border-radius: #eb2733;
 border-radius: 10px;
 color: #FFFFFF !important;
}
